<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note</title>
</head>
<body>
    <h1>Create New note</h1>
    <form action="/create" method="post">
        <input type="text" placeholder="Enter file name" name='filename'>
        <input type="text" placeholder="Write Your notes" name="details">
        <button type="submit">Add Note</button>
    </form>
</body>
</html>