<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Notes App</title>
    <style>
        *{
            padding: 0;
            margin: 0; 
            box-sizing: border-box;
        }
        body{
            background-color: rgb(22, 21, 21);
            color: rgb(255, 255, 255);
        }
        form{
            display: flex;
            flex-direction: column;
        }
        .allNotes{
            display: flex;
            flex-wrap: wrap;
            padding: 2rem;
            gap: 20px;
        }
        #file{
            border: 2px solid rgb(5, 5, 5);
            background-color: rgb(155, 143, 143);
            color: black;
            width: 16rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            gap: 0.5rem;
            border-radius: 5px ;
        }
        #file a{
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        #file p{
            font-size: 2rem;
            font-family: cursive;
        }
        .noteContainer{
            display: flex;
            align-items: center;
        }
        .newNote{
            border: 2px solid rgb(5, 5, 5);
            background-color: rgb(155, 143, 143);
            color: black;
            width: 16rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            gap: 0.5rem;
            font-size: 3rem;
            border-radius: 5px ;
            text-decoration: none;
        }
    </style>

</head>
<body>
    <h1>Your Notes app</h1>
    <br>
    <hr>
    <br>
    <h1>All Notes</h1>
    <div class="allNotes">
        <% allNotes.forEach(function(val){ %>
            <div id="file">
                <a href="/view/<%=val.filename%>" class="noteContainer"> 
                    <p><%= val.filename %></p>
                    <a href="/edit/<%=val.filename%>"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/delete/<%=val.filename%>"><i class="fa-solid fa-trash"></i></a>
                </a>
            </div>
        <%})%>
            <a href="/create" class="newNote"><i class="fa-solid fa-plus"></i></a>

    </div>
    
    
</body>
</html>