<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body{
            text-align: center;
            background-color: rgb(22, 21, 21);
            color: white;



        }
        form{
            display: flex;
            flex-direction: column;
            background-color: darkslategrey;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 3rem;
            margin: 0 7rem ;
        }
        form input{
            height: 2rem;
            width: 40%;
        }
    </style>
</head>
<body>
        <h1>Sign Up</h1>
        <form action="/signup" method="post">
            <input type="email" placeholder="Enter Your Email" required name="Email">
            <input type="Username" placeholder="Enter Username" required name="Username">
            <input type="Password" placeholder="Enter Password" required name="Password">
            <input type="number" placeholder="Enter Your age" required name="Age">
            <button  type="submit">Signup</button>>
        </form>
</body>
</html>