<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Note of : <%=note.filename %></h1>
    <br><br><br>
    <hr>
    <br><br><br>
    <p>
        <%=note.content%>
    </p>
    
</body>
</html>