<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            background-color: rgb(22, 21, 21);
            color: rgb(255, 255, 255);
            padding: 5px;
            display: flex;
            flex-direction: column;
            
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Note of : <%=note.filename %></h1>
    <br><br><br>
    <hr>
    <br><br><br>
    <p>
        <%=note.content%>
    </p>
    
</body>
</html>

